@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
  background: url('res/bg-2.jpeg') no-repeat center center fixed;
  font-family: 'Oswald', sans-serif;

}

body::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb( 34,34,34 );
  opacity: .95;
  z-index: -1;
}

.equal-width {
  flex-grow: 1;
  flex-basis: 0;
}

/** User should not be able to actually scroll, their scroll action fires a full page scroll see  scrollify JS lib */

.flex-container-home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav {
  width: 100%;
  z-index: 5000;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  padding-top: 2em;
  padding-left: 4em;
  padding-right: 4em;
  box-sizing: border-box;
}

.nav h1 {
  color: #868686;
}

.nav-left {
  border-bottom: 5px solid #868686;
}

.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 5px solid #868686;
}

.nav-right .nav-item {
  margin-left:2em;
  margin-right: 2em;
  margin-bottom: 1em;
  color: #ecf0f1;
  cursor: pointer;
}

#home {
  color: #4484C8;
}

.nav-item h4 {
  margin: 0;
  font-size: 1.5vw;
}

.nav h1 {
  font-size: 3vw;
  letter-spacing: 0.1em;
  display: block;
  margin: 0;
  letter-spacing:
}

.accent {
  color: #4484C8;
}

.home-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 4em;
  margin-right: 4em;
}

.home-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-content .home-left {
  display: flex;
  justify-content: center;
}

.home-left h2 {
  font-size: 3vw;
  color: #ecf0f1;
  text-align: center;
}

.home-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.info-container-master {
  display: flex;
  flex-direction: column;
}

.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
/*
font-size: 1.8em;
*/
  font-size: 1.5vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  color: #ecf0f1;
}

.info-container p {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2vw;
}

.info-container h3 {
  margin: 0;
}

.info-icon {
  margin-right: 0.5em;
  width: 4vw;
  height: 4vw;
}


.arrow-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 2.5vw;
  animation: bounce 4s infinite;
  cursor: pointer;
}

.arrow-down img {
  max-width: 100%;
  position: relative;
  left: -50%;
}

@keyframes bounce {
  0% {transform: translateY(0)}
  10% {transform: translateY(-30px);}
  20% {transform: translateY(0)}
  100% {transform: translateY(0);}
}



.pricing-ui {
  height: 100vh;
  display: flex;
  padding-top: 3vh;
  flex-direction: column;
  justify-content: center;
}

.ui {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ui-nav {
  display: flex;
  flex-direction: row;
  display: none;
  margin-top: 3vh;
}

.ui-nav img {
  max-height: 100%;
  height: 6vh;
  cursor: pointer;
  border-radius: 5%;
  transition: 0.2s;
}

.ui-nav img:hover {
  background-color: rgba(255,255,255,0.1);
}


.device-type-select {
  display: flex;
  flex-direction: column;
  align-items: center;

  display: none;
}

.device-type {
  /*margin: 2em;
  */
  margin: 1vw;
  /*
  padding-left: 4em;
  padding-right: 4em;

  padding-left: 2vw;
  padding-right: 2vw;
  */
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 4vw;
  padding-right: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba( 255,255,255,0.1 );
  transition: 0.2s;
  cursor: pointer;
  border-radius: 5%;
  border: 5px solid rgba(0,0,0,0);
  width: 10vw;
}

.row {
  display: flex;
  flex-direction: row;
}

.device-type-select h1 {
  color: #ecf0f1;
  font-size: 2vw;
}

.device-type h3 {
  font-size: 2vw;
  margin: 0;
  color: #ecf0f1;
}

.device-type img {
  margin-bottom: 1vh;
  height: 15vw;
}

.device-type:hover{
  border: 5px solid rgba( 68, 132, 200, 0.5 );
}



.iphone-model-select {
  padding-left: 4em;
  padding-right: 4em;
  flex-direction: column;
  align-items: center;
  color: #ecf0f1;
  display: none;
}

.iphone-model-select h1 {
    font-size: 2vw;
}

.row .nav {
}

.ipad-model-select {
  display: none;
  flex-direction: column;
  align-items: center;
  color: #ecf0f1;
}

.ipad-model-select h1 {
  text-align: center;
  font-size: 2vw;
}

.model {
  /*padding: 1em;*/
  /*margin: 0.5em;*/
  margin: 0.5vw;
  padding: 0.5vw;
  background-color: rgba( 255,255,255,0.1 );
  border-radius: 5%;
  cursor: hand;
  border: 5px solid rgba(0,0,0,0);
  cursor: pointer;
  min-width: 10vw;
}

.iphone-model-select .rows {
  display: flex;
  flex-direction: column;
}

.iphone-model-select .row {
  justify-content: space-between;
}

.model:hover {
  border: 5px solid rgba( 68, 132, 200, 0.5 );
}

.model h3 {
  margin: 0;
  font-size: 1.5vw;
  text-align: center;
}

.quote-section {
  padding-left: 4em;
  padding-right: 4em;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  color: white;
}


.quote-top-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3em;
}

.quote-top-info h2 {
  font-size: 2vw;
  color: #868686;
  margin-left: 2vw;
}

.quote-top-info img {
  max-width: 100%;
  max-height: 100%;
  height: 4vh;
}

.quote-info {
  width: 100%;
  display: flex;
  justify-content: center;
}

.quote-info-container {
  display: flex;
  color: #ecf0f1;
}

.quote-info img {
  max-width: 100%;
  max-height: 100%;
}

.quote-info .device-image {
  height: 20vw;
  max-height: 20vw;
  margin-right: 4em;
}

.quote-info .prices {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  height: 20vw;
  font-family: 'Open Sans', sans-serif;
}


.quote-info h1, .quote-info h2 {
  margin: 0;
}

.quote-info h1 {
  font-size: 3vw;
}

.hoverable-repair {
  padding-right: 1em;
}

.hoverable-repair:hover {
  background-color: rgba(255,255,255,0.1);
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb {
  background-color: #868686;
  cursor: pointer;
}

.quote-info .repair-item:nth-child(1) .repair-price {
  margin-left: 1em;
}

.quote-info .repair-item {
  /*width: 140%; */
  margin-bottom: 1em;
  display: flex;
  flex-shrink: 0;
}

.quote-info .repair-title {
  flex-grow: 1;
}

.quote-info .repair-price {
  display: flex;
  justify-content: flex-start;
  width: 10%;
}

.scroll-container {
  width: 102.5%;
  overflow-y: scroll;
}
